*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cardo, sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}

body{
    width: 1440px;
    margin: 0 auto;
}

.head{
    height: 1109px;
    background: #1B3764;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

header{
    width: 1300px;
    height: 109px;
    padding: 20px 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

header>div:first-child{
    width: 544px;
    height: 69px;
    flex-shrink: 0;
}

.social-links-place{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link-rectangle{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.top-menu-place{
    width: 450px;
    padding: 0 23px;
    color: #F6F8FC;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; /* 150% */
    letter-spacing: 0.17px;
}

.top-menu-place>ul{
    width: 100%;
}

.top-menu-place ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu-place li:hover{
    color: #FFCA42;
}

.top-menu-buttons{
    width: 306px;
    padding-left: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu-buttons button{
    width: 222px;
    height: 66px;
    flex-shrink: 0;
    border: 2px solid #FFCA42;
    background: #FFCA42;
    color: #1B3764;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px; /* 150% */
    letter-spacing: 0.57px;
    text-transform: capitalize;
    cursor: pointer;
}

.section-slider{
    height: 800px;
    padding: 0 23px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 75px;
}

.section-slider-info{
    width: 588px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slider-rect{
    width: 35px;
    height: 2px;
    background: #FFCA42;
    margin-right: 14px;
}

.slider-annotation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.slider-annotation>p{
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.section-slider-info>h3{
    width: 512px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px; /* 121.875% */
    letter-spacing: 1.3px;
}

.section-slider-info>p{
    width: 562px;
    color: #B4C7E7;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px; /* 158.333% */
}

.slider-buttons{
    width: 100%;
    margin-top: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 51px;
}

.slider-buttons>button{
    width: 222px;
    height: 66px;
    flex-shrink: 0;
    border: 2px solid #FFCA42;
    background: #FFCA42;
    color: #1B3764;
    font-family: Cardo, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px; /* 150% */
    letter-spacing: 0.57px;
    text-transform: capitalize;
    cursor: pointer;
}

.slider-buttons>a{
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.4px; /* 160% */
    letter-spacing: 0.38px;
    text-transform: capitalize;
    text-decoration: underline solid 1px #FFF;
    text-underline-offset: 8px;
}

.slider-book-info{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.slider-book-info>ul li{
    margin-bottom: 12px;
}

.marker{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFCA42;
}

.slider-book-info>ul li:first-child{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    letter-spacing: 0.48px;
}

.slider-book-info>ul li:last-child
{
    color: #B4C7E7;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
    margin-left: 26px;
}

.section-slider-image{
    width: 592px;
    height: 800px;
    flex-shrink: 0;
    background: url("../images/the-dark-light.png") lightgray 50% / cover no-repeat;
    box-shadow: -1px 2px 11px 0 rgba(0, 0, 0, 0.20);
}